this is my string: {{my_string}}
this is my number: {{my_number}}
this is my float: {{my_float}}

{% for element in my_array %}
  {{loop.index}}. {{element}}
{% endfor %}

{% for key, value in my_obj %}
  {{key}}. {{value}}
{% endfor %}

{{ bash(command='ls -la | tr -s " "') }}

1. {{ my_string | sed(expression="s|this||g") | bash(command="wc")}}
2. {{ my_string | bash(command='sed -e "s|this||g" | wc')}}

{{bash(command="echo $var1 $var2", var1="hola", var2="mundo")}}
